body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333
}

header{
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1{
    margin: 0;
}

nav a{
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

section{
    padding: 20px;
    margin: 20px 0;
}

#inicio{
    background: #f4f4f4;
}

#Proyectos{
    background: #e2e2e2
}

#contacto{
    background: #d1d1d1
}

footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para la galeria de proyectos */
.Proyectos-Container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.Proyecto{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}


.Proyecto h3{
    margin: 10px 0;
}

.Proyecto p{
    font-size: 14px;
    color: #555;
    
}
.Proyecto a{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #333;
    color: white;   
    text-decoration: none;
    border-radius: 4px;
}

.Proyecto ul{
    margin: 10px 0;
    padding-left: 20px;
}

.Proyecto ul li{
    font-size: 13px;
    color: #555;
    margin-bottom: 5px;
}
.Proyecto a:hover{
    background-color: #555;
}

/* Estilos para el formulario de contacto */
#formulario-contacto{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#formulario-contacto label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#formulario-contacto input,
#formulario-contacto textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#formulario-contacto button{
   width: 100%;
   padding: 10px;
   background-color: #333;
   color: white;
   border: none;
    border-radius: 4px;
    cursor: pointer;
}

#formulario-contacto button:hover{
    background-color: #555;
}

.icon {
    margin: 0 0 0 30%;
    width: 120px;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #4b4b4b;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #c3eaf5;
}

.icon .add { grid-column: 1; grid-row: 1; }
.icon .subtract { grid-column: 2; grid-row: 1; }
.icon .multiply { grid-column: 1; grid-row: 2; }
.icon .equals {
    grid-column: 2; 
    grid-row: 2;
    background-color: #42cb54;
    border-radius: 50%;
    color: white;}